<form action='/pages' class='js-create-links' method='post'>
  <div class='message'></div><br>
  Введите ссылки:<br>
  <textarea name = 'links' rows = '4' cols = '50' placeholder='Через пробел или с новой строки'></textarea>
  <br>
  <input type='submit' value='Отправить'>
</form>
<a href=<%= routes.pages_path %>>Список страниц</a>
